.conteiners{
    background-color: #5A97A2;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}
.card{
    width: 350px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 1px 2px 4px black;
}
.img-style{
    width: 100%;
    display: block;
}
.card-body{
    padding: 6px;
    background-color: #7C2E90;
    height: 170px;
}
.card-title{
    font-size: 2rem;
    text-align: center;
    color: white;
}
.card-desc{
    text-align: justify;
    color: white;
}
.card:hover{
    box-shadow: 6px 12px 10px white;
}
